<body>
    <link rel="stylesheet" href="card.css">
    <div class="container">
    <div class="row-1">
        <div class="top">
            <div class="card">
              <p>card 1</p>
              <div class="cardCenter">
                <div class="circular"></div>
              </div>
              <hr>
              <p>Rank 1</p>
            </div>
        
            <div class="card">
              <p>card 2</p>
              <div class="cardCenter">
                <div class="circular"></div>
              </div>
              <hr>
              <p>Rank 2</p>
            </div>
        
            <div class="card">
              <p>card 3</p>
              <div class="cardCenter">
                <div class="circular"></div>
              </div>
              <hr>
              <p>Rank 3</p>
            </div>
    </div>
    
    <div class="row-2">
        <div class="center">
            <div class="card">
              <p>card 4</p>
              <div class="cardCenter">
                <div class="circular"></div>
              </div>
              <hr>
              <p>Rank 4</p>
            </div>
        
            <div class="card">
              <p>card 5</p>
              <div class="cardCenter">
                <div class="circular"></div>
              </div>
              <hr>
              <p>Rank 5</p>
            </div>
        
            <div class="card">
              <p>card 6</p>
              <div class="cardCenter">
                <div class="circular"></div>
              </div>
              <hr>
              <p>Rank 6</p>
            </div>
    </div>

    <div class="row-3">
        <div class="bottom">
            <div class="card">
              <p>card 7</p>
              <div class="cardCenter">
                <div class="circular"></div>
              </div>
              <hr>
              <p>Rank 7</p>
            </div>
        
            <div class="card">
              <p>card 8</p>
              <div class="cardCenter">
                <div class="circular"></div>
              </div>
              <hr>
              <p>Rank 8</p>
            </div>
        
            <div class="card">
              <p>card 9</p>
              <div class="cardCenter">
                <div class="circular"></div>
              </div>
              <hr>
              <p>Rank 9</p>
            </div>
    </div>

    </div>
    </div>
  </body>